/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .preloader-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
  }
  .preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background:#F7941D;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
  }
  .preloader-icon span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
  }
  @keyframes preloader-fx {
    0% {transform: scale(0, 0); opacity:0.5;}
    100% {transform: scale(1, 1); opacity:0;}
  }
  @-webkit-keyframes preloader-fx {
    0% {-webkit-transform: scale(0, 0); opacity:0.5;}
    100% {-webkit-transform: scale(1, 1); opacity:0;}
  }
  /* End Preloader */
  
  .btn {
      position: relative;
      font-weight: 500;
      font-size:14px;
      color: #fff;
      background: #333;
      display: inline-block;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      z-index: 5;
      display: inline-block;
      padding: 13px 32px;
      border-radius: 0px;
      text-transform:uppercase;
  }
  .btn:hover{
      color:#fff;
      background:#F7941D;
  }
  #scrollUp {
      right: 10px;
      z-index: 33;
      bottom: 10px;
      text-align: center;
  }
  #scrollUp i{
      height: 40px;
      width: 40px;
      line-height: 40px;
      background:transparent;
      background:#222;
      border-radius: 0;
      font-size: 18px;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      transition: all 500ms ease;
      display:block;
      color: #fff;
      box-shadow: 0px 4px 19px #00000038;
  }
  #scrollUp i:hover{
      background:#F7941D;
      color:#fff;
  }